<!DOCTYPE html>
<html lang="ko">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <meta charset="UTF-8">
        <title>Vue Example</title>
    </head>
    <body>
        <div id="test1">
            {{message}}
        </div>










        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

        <!-- Vue js script-->
        <script>
            new Vue({
                el: '#test1'
                , data : {
                    message: 'hello vue js'
                }
            });

        </script>

    </body>
</html>